.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.panel-default {
    border-color: #ddd;
}

.panel-body {
    padding: 15px;
}

.img-responsive {
    display: inline-block;
    max-width: 100%;
    height: 250px;
}

#cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 23%;
    box-shadow: 0 0 4px 3px rgb(20, 124, 198);
}